#bet-box-style {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 80vh;
    margin: 20px;
    margin-top: 0;
    background-color: #1a1a1a;
    opacity: 0.8;
    transition: opacity 0.4s;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
}

.bets-info-box {
}

@media screen and (max-width: 1500px) {
    #bet-box-style {
        max-height: 80vh;
    }
}

@media screen and (max-width: 600px) {
    #bet-box-style {
        max-height: 400px;
    }
}
