#profiledropdown {
  position: absolute;
  top: 1rem;
  right: 0;
  display: none;
  width: fit-content;
  border-radius: 10px;
  background-color: gray;
  opacity: 0.9;
  border: 3px solid black;
}
#profiledropdown p {
  cursor: pointer;
  color: white;
}

#profiledropdown:hover {
  display: block;
}
#profiledropdown p:hover {
  color: rgb(24, 24, 24);
}

#profile:hover #profiledropdown {
  display: block;
}
#name {
  color: black;
  opacity: 1;

  text-transform: capitalize;
}
