#login-modal-container {
    position: absolute;
    top: 80px;
    right: 0px;
    animation: fadeInAnimation 0.5s ease-in;
    transition: height 2s;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        right: -200px;
    }
    to {
        opacity: 1;
    }
}

#login-modal-window {
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    padding: 1rem;
    max-width: 400px;
    max-height: 250px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 2px;
}

#login-modal-input-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-modal-form {
}

.login-modal-warning-text {
    color: red;
    /* height: 30px; */
}

.login-modal-input {
    margin: 5px;
    padding: 5px;
}

.login-modal-input:focus {
    outline: 1px black solid;
}

.login-modal-button-container {
    display: flex;
    justify-content: center;
}

.login-modal-button {
    margin-top: 10px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
}
