#billboard {
    width: 75vh;
    border: 5px solid;
    text-transform: uppercase;
    font-size: larger;
    height: fit-content;
    text-align: center;
    border-color: none;
    background-color: black 2s;
    animation: rotate 3.5s ease-in-out infinite;
}

.reginput-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 0px 5px 10px 5px;
    padding: 3px;
}
.reginput-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.reginput {
    gap: 5px;
    font-size: 1.6rem;
    padding: 3px;
    text-align: center;
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
}

@media screen and (max-width: 600px) {
    .reginput {
        font-size: 1.2rem;
    }

    #billboard {
        margin-bottom: -50px;
    }
}

#username {
    background: url(../../../shared//img/icons/username.svg) no-repeat;
    background-origin: content-box;
}

#password {
    background: url(../../../shared//img/icons/password.svg) no-repeat;
    background-origin: content-box;
}

#email {
    background: url(../../../shared//img/icons/email.svg) no-repeat;
    background-origin: content-box;
}

#birthday {
    background: url(../../../shared//img/icons/birthday.svg) no-repeat;
    background-origin: content-box;
}

#regtext {
    animation: texts 3.5s ease-in-out infinite;
}

#videos {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat: auto;
    z-index: -1;
    filter: blur(8px);
}
#reginput:focus {
    width: 75%;
    transition: all 2s;
}
.btn {
    height: 2.5rem;
    width: 37%;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px black solid;
    background-color: green;
    color: white;
    margin-bottom: 10px;
}
.btn:hover {
    border-radius: 20px;
    width: 25%;
    transition: all 2s;
}

@keyframes texts {
    25% {
        color: gold;
    }
    50% {
        color: rgb(244, 209, 36);
    }
    75% {
        color: rgb(249, 216, 48);
    }
    100% {
        color: gold;
    }
}

@keyframes rotate {
    25% {
        border-bottom-color: rgb(54, 245, 101);
    }
    50% {
        border-left-color: rgb(99, 252, 137);
    }
    75% {
        border-top-color: rgb(149, 252, 175);
    }
    100% {
        border-right-color: rgb(191, 250, 206);
    }
} ;
