#billboard3 {
    width: 100%;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-weight: bolder;
    margin-right: 120px;
    text-align: end;
}

@media screen and (max-width: 600px) {
    #billboard3 {
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
    }
}
