.footer {
    background: linear-gradient(
        315deg,
        var(--clr-GradientStart),
        var(--clr-GradientEnd)
    );

    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute; 
    bottom: 0;
    z-index: 999;
    width: 100%;
   
}

.footer-container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    text-decoration: none;
    font-size: 0.6rem;
    
}

